# ==================================================
# Dependencies
# ==================================================
node_modules/

# ==================================================
# Build / Dist
# ==================================================
dist/
build/
web-build/

# ==================================================
# Expo / React Native
# ==================================================
.expo/
.expo-shared/
expo-env.d.ts
.metro-health-check*

# Native generated folders
android/
ios/

# ==================================================
# Environment Variables
# ==================================================
.env
.env.*
.env*.local

# ==================================================
# Logs / Debug
# ==================================================
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# ==================================================
# Native / Security Files
# ==================================================
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
*.orig.*

# ==================================================
# Kotlin / Android
# ==================================================
.kotlin/

# ==================================================
# TypeScript
# ==================================================
*.tsbuildinfo

# ==================================================
# Editor / OS
# ==================================================
.vscode/
.DS_Store
Thumbs.db
